# Keil MDK build output
MDK-ARM/My_OV_Watch/
MDK-ARM/*.log
MDK-ARM/.vscode/
MDK-ARM/*.uvguix.*
MDK-ARM/*.uvoptx
Bootloader/MDK-ARM/Objects/
Bootloader/MDK-ARM/DebugConfig/
Bootloader/MDK-ARM/*.lst
Bootloader/MDK-ARM/*.uvoptx
Bootloader/Output/
Bootloader/FactoryFlash/DebugConfig/
Bootloader/AppFlash/DebugConfig/
Bootloader/FactoryFlash/*.uvoptx
Bootloader/AppFlash/*.uvoptx
*.uvguix.*

*.o
*.d
*.crf
*.axf
*.map
*.lnp
*.dep
*.build_log.htm

# Editors and operating systems
.vscode/
.idea/
.DS_Store
Thumbs.db
Desktop.ini
__pycache__/
*.pyc
